{% extends "base.html" %}

{% block content %}
<h2>Welcome, {{username}}</h2>
<div class="ui grid">
    <div class="three wide column">
        <img class="ui small circular image" src="{{ url_for('static', filename='images/icon/ava.png') }}">
        <div class="ui inverted vertical pointing menu">
            <div class="item">
                <div class="header">List Data</div>
                <div class="menu">
                    <a class="item" id="user">
                        User
                    </a>
                    <a class="item" id="detection">
                        Detection
                    </a>
                    <a class="item" id="olshop">
                        Olshop
                    </a>
                    <a class="item" id="photos">
                        Photos
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="header">Detection Report</div>
                <div class="menu">
                    <a class="item" id="detectionbyuser" onclick="getData(id)">
                        By All User
                    </a>
                    <a class="item" id="detectionbyolshop" onclick="getData(id)">
                        By Olshop Name
                    </a>
                    <a class="item" id="detectionbydate" onclick="getData(id)">
                        By Date
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="eleven wide column" id="slideshow">
        <div class="slideshow wrapper" id="listuser">
            <table class="ui single line table" id="usertable">
                <thead>
                    <tr>
                    <th>No</th>
                    <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="slideshow wrapper" id="listdetection">
            <table class="ui single line table" id="detectiontable">
                <thead>
                    <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Olshop Name</th>
                    <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
        <div class="slideshow wrapper" id="listolshop">
            <table class="ui single line table" id="olshoptable">
                <thead>
                    <tr>
                    <th>No</th>
                    <th>Olshop Name</th>
                    <th>All photos</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="slideshow wrapper" id="graphdetection">
            <canvas id="canvas" style="width:75%;"></canvas>
        </div>
    </div>
    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
          Experiment Detail
        </div>
        <div class="image content">
          
          <div class="description">
                <canvas id="canvas2" style="width:75%;"></canvas>
                <p id="caption">The chart is displaying a simple line chart.</p>
          </div>
        </div>
        <div class="ui three column grid">
                {% for i in range  (1,4)%}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="" >
                                <img id="like{{i}}" align="middle"  height="200px">
                            </div>
                            <div class="content">
                                <a class="header" id="likename{{i}}"></a>
                                <div class="meta">
                                    </div>
                            </div>
                            <div class="extra content">
                                <i class="eye icon"></i>
                                <span >
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <div class="actions">
          <div class="ui positive right labeled icon button">
            OK
            <i class="checkmark icon"></i>
          </div>
        </div>
      </div>
</div>
</div>

<script>
    var alluser=JSON.parse('{{alluser | tojson | safe}}');
    var alldetection=JSON.parse('{{alldetection | tojson | safe }}');
    var allolshop=JSON.parse('{{allolshop | tojson | safe}}');
    $(document).ready(function(){
        $('#listuser').hide();
        $('#listdetection').hide();
        $('#listolshop').hide();
        $('#graphdetection').hide();

        for(i=0; i<alluser.length; i++){
            var table = document.getElementById("usertable");
            var row = table.insertRow(i+1);
            var cell1= row.insertCell(0);
            var cell2= row.insertCell(1);
            var cell3= row.insertCell(2);
            var cell4= row.insertCell(3);
            cell1.innerHTML = i+1;
            cell2.innerHTML = alluser[i][1];
        }
        console.log(alldetection);
        for(i=0; i<alldetection.length; i++){
            var table = document.getElementById("detectiontable");
            
            var row = table.insertRow(i+1);
            var cell1= row.insertCell(0);
            var cell2= row.insertCell(1);
            var cell3= row.insertCell(2);
            var cell4= row.insertCell(3);
            var cell5= row.insertCell(4);
            var cell6=row.insertCell(5)
            cell1.innerHTML = i+1;
            cell2.innerHTML = alldetection[i][1];
            cell3.innerHTML = alldetection[i][2];
            cell4.innerHTML = alldetection[i][3];
            cell5.innerHTML = alldetection[i][4];
            cell6.innerHTML = '<div class="ui edit button" onclick="expressClick('+ alldetection[i][0] +')">View</div>';
        }
        
    
        for(i=0; i<allolshop.length; i++){
            var div=document.getElementById("olshoplist");
            var table = document.getElementById("olshoptable");
            var row = table.insertRow(i+1);
            var cell1= row.insertCell(0);
            var cell2= row.insertCell(1);
            var cell3= row.insertCell(2);
            cell1.innerHTML = i+1;
            cell2.innerHTML = allolshop[i][1];
            cell3.innerHTML = allolshop[i][2];
        }
    });
    function expressClick(id_detect){
        $('.ui.modal')
        .modal('show');
        var url='profile/ajax/'
        getData2(id_detect, url, 'canvas2');
        
    }
    function getData2(id, url, canvas){
        labelStringy="Ekspresi";
        console.log(url)
        $.ajax({
            url: url ,
            type:"GET",
            dataType:"json",
            data: {
                id:id
            },
            error:function(data){
                console.log('No data found');
            },
            success:function(data){
                console.log(data)
                displaygraph2(data, "id_gambar", "labelStringy", canvas);
            }
        })
    }

    function displaygraph2(data, labelStringx, labelStringy, canvas){
        console.log(data)
        var xlabel=[]
        var dataset=[]
        for(var i=0; i<data.length; i++){ 
            xlabel[i]=[]
            dataset[i]=[]
            for(var j=0; j<data[i].length; j++){
                xlabel[i].push(data[i][j][0]);
                dataset[i].push(data[i][j][1]);
            }
        }
        if(data.length==4){
            for (var i=0; i<3; i++){
                document.getElementById("like"+(i+1)).src="/static/fashion-photos/instagramscraper/" +dataset[3][i]+"/"+xlabel[3][i];
                document.getElementById("likename"+(i+1)).innerHTML=dataset[3][i]
            }
        }
        window.myLine = new Chart(document.getElementById(canvas).getContext('2d'), getconfigcategory2(dataset[0],dataset[1], dataset[2], xlabel[1], labelStringx, labelStringy));        
    }

    function getconfigcategory2(data1, data2, data3, xlabels, labelStringx, labelStringy){

        var config = {
            type: 'line',
            data: {
                yLabels: ['', 'suka', 'tidak suka', ''],
                datasets: [{
                    label:'Experiment 1',
                    fill: false,
                    borderColor: 'rgb(255,0,0)',
                    backgroundColor: 'rgba(233, 30, 99, 0.3)',
                    pointBorderColor: 'rgba(233, 30, 99, 0)',
                    pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                    pointBorderWidth: 1,
                    pointRadius:10,
                    pointHoverRadius:15,
                    showLine:true,
                    data: data1
                },{
                    label:'Experiment 2',
                    fill: false,
                    borderColor: 'rgb(0,255,0)',
                    backgroundColor: 'rgba(233, 30, 99, 0.3)',
                    pointBorderColor: 'rgba(233, 30, 99, 0)',
                    pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                    pointBorderWidth: 1,
                    pointRadius:10,
                    pointHoverRadius:15,
                    showLine:true,
                    data: data2
                },{
                    label:'Experiment 3',
                    data: data3,
                    fill: false,
                    borderColor: 'rgb(0,0,255)',
                    backgroundColor: 'rgba(233, 30, 99, 0.3)',
                    pointBorderColor: 'rgba(233, 30, 99, 0)',
                    pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                    pointBorderWidth: 1,
                    pointRadius:10,
                    pointHoverRadius:15,
                    showLine:true
                }],
                labels: xlabels
            },
            options: {
                responsive: true,
                title: {
                    display: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: labelStringx
                        }
                    }],
                    yAxes: [{
                        type: 'category',
                        position: 'left',
                        display: true,
                        scaleLabel: {
                        display: true
                        },
                        ticks: {
                        reverse: true
                        }
                    }]
                }
            }
        }
        return config
    }
    $('#user').click(() => {
        document.getElementById("listdetection").style.display="none";
        document.getElementById("listolshop").style.display="none";
        var div = document.getElementById("listuser");
        if (div.style.display !== "none"){
            div.style.display = "none";
        }else{
            div.style.display = "block";
        }
    });
    $('#detection').click(() => {
        var div = document.getElementById("listdetection");
        document.getElementById("listolshop").style.display="none";
        document.getElementById("listuser").style.display="none";
        if (div.style.display !== "none"){
            div.style.display = "none";
        }else{
            div.style.display = "block";
        }
    });
    $('#olshop').click(() => {
        document.getElementById("listuser").style.display="none";
        document.getElementById("listdetection").style.display="none";
        var div = document.getElementById("listolshop");
        if (div.style.display !== "none"){
            div.style.display = "none";
        }else{
            div.style.display = "block";
        }
    });

    var receiveddata;
    function getData(id){
        console.log(id)
        var labelStringx = '';
        var chartcat='line';
        if (id=="detectionbyuser"){
            labelStringx="Username"
        } else if(id=="detectionbyolshop"){
            labelStringx="Olshop Name"
        }else if(id=="detectionbydate"){
            labelStringx="Date"
        }else if(id=="photobyuser"){
            chartcat='category';
        }else{
            labelStringx="Olshop Name"
        }
        labelStringy="Total";
        var url = id+'/ajax/';
        console.log(url)
        $.ajax({
            url: url ,
            type:"GET",
            dataType:"json",
            data: {
                id:id
            },
            error:function(data){
                console.log('No data found');
            },
            success:function(data){
                console.log(data)
                displaygraph(data, labelStringx, labelStringy, chartcat);
            }
        })
    }

    function displaygraph(data, labelStringx, labelStringy, chartcat){
        var username = new Array();
        var jml = new Array();
        username.push("");
        jml.push("")
        for (i=0; i<data.length; i++){
            username.push(data[i][0]);
            if(chartcat=='category'){
                jml.push(data[i][1]);
            }else{
                jml.push(Number(data[i][1]));
            }
        }
        var max = jml.reduce(function(a, b) {
            return Math.max(a, b);
        });
        if(chartcat=='line'){
            window.myLine = new Chart(document.getElementById('canvas').getContext('2d'), getconfignumber(jml, username, max+2, labelStringx, labelStringy));
            document.getElementById("graphdetection").style.display="block";
        }else{
            window.myLine = new Chart(document.getElementById('canvas').getContext('2d'), getconfigcategory(jml, username, max+2, labelStringx, labelStringy));
            document.getElementById("graphdetection").style.display="block";
        }
        
    }

    function getconfigcategory(data, xlabels, max, labelStringx, labelStringy){
        console.log(data)
        console.log(xlabels)
        var config = {
            type: 'line',
            data: {
                yLabels: ['', 'tidak suka', 'suka', ''],
                datasets: [{
                    data: data,
                    fill: false,
                    borderColor: 'rgba(233, 30, 99, 0.75)',
                    backgroundColor: 'rgba(233, 30, 99, 0.3)',
                    pointBorderColor: 'rgba(233, 30, 99, 0)',
                    pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                    pointBorderWidth: 1,
                    pointRadius:10,
                    pointHoverRadius:15,
                    showLine:true
                }],
                labels: xlabels
            },
            options: {
                responsive: true,
                title: {
                    display: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: labelStringx
                        }
                    }],
                    yAxes: [{
                        type: 'category',
                        position: 'left',
                        display: true,
                        scaleLabel: {
                        display: true,
                        labelString: 'Ekspresi'
                        },
                        ticks: {
                        reverse: true
                        }
                    }]
                }
            }
        }
        return config
    }      

    function getconfignumber(data, xlabels, max, labelStringx, labelStringy){
        console.log(data);
        if(typeof(max)==NaN){
            ylabels=['', 'suka', 'tidak suka'];
        }
        var config = {
            type: 'line',
            data: {
                datasets: [{
                    data: data,
                    fill: false,
                    borderColor: 'rgba(233, 30, 99, 0.75)',
                    backgroundColor: 'rgba(233, 30, 99, 0.3)',
                    pointBorderColor: 'rgba(233, 30, 99, 0)',
                    pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                    pointBorderWidth: 1,
                    pointRadius:10,
                    pointHoverRadius:15,
                    showLine:true
                }],
                labels: xlabels
            },
            options: {
                responsive: true,
                title: {
                    display: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: labelStringx
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            max: max,
                            min: 0,
                            stepSize: 1
                        },
                        scaleLabel: {
                            display: true,
                            labelString: labelStringy
                        }
                    }]
                }
            }
        }
        return config
    }      
</script>
{% endblock %}