<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome</title>
      {% endif %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    </head>
    <body>
      
        <div class="ui inverted segment" style="
        position: fixed;
        top: 0;
        width: 100%;
        z-index:1;">
          <div class="ui inverted secondary menu">
            <a class="item" href="{{ url_for('index') }}">Home</a>
            <a class="item" href="{{ url_for('directory') }}">Directory</a>
            <a class="item" href="{{ url_for('search') }}">Search Instagram</a>
            {% if statuslogin == 'tidak' %}
            <div class="right menu">
              <a class="item" href="{{ url_for('login') }}">
                Login
              </a>
            </div>
            
            {% else %}
            {{username}}
            <div class="ui right dropdown item">
              <i class="dropdown icon"></i>
              <div class="menu">
                  <a class="item" href="{{ url_for('profile') }}">Profile</a>
                <a class="item" href="{{ url_for('logout') }}">Logout</a>
                <a class="item" href="{{ url_for('index') }}">Home</a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      
       {% block content %}
       {% endblock %}
       
    </body>
    <script>
      console.log('{{statuslogin}}')
      $(document).ready(function(){
        $('.ui.inverted.secondary.menu').on('click', '.item', function(){
          $(this)
            .addClass('active')
            .siblings('.item')
              .removeClass('active');
        })
        
      });
      $('.ui.dropdown').dropdown();
    </script>
</html>