{% extends "base.html" %}

{% block content %}
<h2>Welcome, {{username}}</h2>
<div class="ui grid">
    <div class="three wide column">
    </div>

    <div class="eleven wide column" id="slideshow">
        
        <div class="slideshow wrapper" id="graphdetection">
            <canvas id="canvas" style="width:75%;"></canvas>
        </div>
    </div>
</div>

<script>
    var receiveddata;
    $(document).ready(function(){
        id='photobyuser';
       getData(id);        
    });

    function getData(id){
        labelStringy="Ekspresi";
        var url = id+'/ajax/';
        console.log(url)
        $.ajax({
            url: url ,
            type:"GET",
            dataType:"json",
            data: {
                id:id
            },
            error:function(data){
                console.log('No data found');
            },
            success:function(data){
                displaygraph(data, "labelStringx", "labelStringy");
            }
        })
    }

    function displaygraph(data, labelStringx, labelStringy){
        console.log(data)
        var xlabel=[]
        var dataset=[]
        for(var i=0; i<data.length; i++){ 
            xlabel[i]=[]
            dataset[i]=[]
            for(var j=0; j<data[i].length; j++){
                xlabel[i].push(data[i][j][0]);
                dataset[i].push(data[i][j][1]);
            }
            console.log(xlabel[i])
            console.log(dataset[i])
        }
        window.myLine = new Chart(document.getElementById('canvas').getContext('2d'), getconfigcategory(dataset[0],dataset[1], dataset[2], xlabel[1], labelStringx, labelStringy));
        document.getElementById("graphdetection").style.display="block";
        
    }

    function getconfigcategory(data1, data2, data3, xlabels, labelStringx, labelStringy){
        console.log(xlabels)
        var config = {
            type: 'line',
            data: {
                yLabels: ['', 'tidak suka', 'suka', ''],
                datasets: [{
                    label:'Experiment 1',
                    fill: false,
                    borderColor: 'rgb(255,0,0)',
                    backgroundColor: 'rgba(233, 30, 99, 0.3)',
                    pointBorderColor: 'rgba(233, 30, 99, 0)',
                    pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                    pointBorderWidth: 1,
                    pointRadius:10,
                    pointHoverRadius:15,
                    showLine:true,
                    data: data1
                },{
                    label:'Experiment 2',
                    fill: false,
                    borderColor: 'rgb(0,255,0)',
                    backgroundColor: 'rgba(233, 30, 99, 0.3)',
                    pointBorderColor: 'rgba(233, 30, 99, 0)',
                    pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                    pointBorderWidth: 1,
                    pointRadius:10,
                    pointHoverRadius:15,
                    showLine:true,
                    data: data2
                },{
                    label:'Experiment 3',
                    data: data3,
                    fill: false,
                    borderColor: 'rgb(0,0,255)',
                    backgroundColor: 'rgba(233, 30, 99, 0.3)',
                    pointBorderColor: 'rgba(233, 30, 99, 0)',
                    pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                    pointBorderWidth: 1,
                    pointRadius:10,
                    pointHoverRadius:15,
                    showLine:true
                }],
                labels: xlabels
            },
            options: {
                responsive: true,
                title: {
                    display: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: labelStringx
                        }
                    }],
                    yAxes: [{
                        type: 'category',
                        position: 'left',
                        display: true,
                        scaleLabel: {
                        display: true,
                        labelString: 'Ekspresi'
                        },
                        ticks: {
                        reverse: true
                        }
                    }]
                }
            }
        }
        return config
    }
</script>
{% endblock %}