{% extends "base.html" %}

{% block content %}
<h2>Gallery</h2>
<div class="ui five column grid">
    {% for i in range (0,jml_dir) %}
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img class="ui fluid image" src="{{ url_for('static', filename='fashion-photos/instagramscraper/'+subdirs[i]+'/' + profpics[i]) }}">
                </div>
                <div class="content">
                    <div class="header">
                        <a href="{{url_for('photos', dir_name = subdirs[i])}}"><h2 style="text-align: center;">{{subdirs[i]}}</h2></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}