{% extends "base.html" %}

{% block content %}
    <body>
    <h2>Hasil Expression recognition</h2>
    
    <canvas id="canvas" style="width:75%;"></canvas>
    <p id="caption">The chart is displaying a simple line chart.</p>
    <canvas id="canvas1" style="width:75%"></canvas>
            
    <script>
        var myobj = JSON.parse('{{time_dict | tojson | safe}}');
        var waktu = Object.keys(myobj);
        var ekspresi = Object.values(myobj);
        console.log()
        
        for (var i=0; i<myobj.length; i++){
          var tr="<tr>";
          var obj = myobj[i];
          console.log(obj)
          waktu.push(obj.waktu);
          gambar.push(obj.idgambar);
          ekspresi.push(obj.eskpresi);        
        }
        console.log(ekspresi);
        console.log(waktu);
        var config = {
          type: 'line',
          data: {
            xLabels: waktu,
            yLabels: ['', 'tidak suka', 'suka', ''],
            datasets: [{
              data: ekspresi,
              fill: false,
              borderColor : "rgb(255,0,0)",
              backgroundColor:"rgb(255,0,0)"
            }]
          },
          options: {
            responsive: true,
            title: {
              display: true
            },
            scales: {
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Time'
                }
              }],
              yAxes: [{
                type: 'category',
                position: 'left',
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Ekspresi'
                },
                ticks: {
                  reverse: true
                }
              }]
            }
          }
        };
       
        window.onload = function() {
          var ctx = document.getElementById('canvas').getContext('2d');
          window.myLine = new Chart(ctx, config);
        };
    </script>
    </body>
{% endblock %}