{% extends "base.html" %}

{% block content %}
    <h2>Most Liked Product</h2>
    <div class="ui five column grid">
        {% for i in range (1,6) %}
            <div class="column">
                <div class="ui fluid card">
                    <div class="" >
                        <img align="middle" width="100%" height="200px" id="mostliked{{i}}">
                    </div>
                    <div class="content">
                        <div class="header" id="olshop{{i}}"></div>
                        <div class="meta">
                        </div>
                    </div>
                    <div class="extra content">
                        <i class="thumbs up outline icon"></i>
                        <span id="jml{{i}}">
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>Most Viewed Product</h2>
    <div class="ui five column grid">
            {% for i in range (1,6) %}
                <div class="column">
                    <div class="ui fluid card">
                        <div class="">
                            <img align="middle" width="100%" height="200px" id="mostviewed{{i}}">
                        </div>
                        <div class="content">
                            <a class="header" id="mostviewedolshop{{i}}"></a>
                            <div class="meta">
                            </div>
                        </div>
                        <div class="extra content">
                            <i class="eye icon"></i>
                            <span id="mostviewedjml{{i}}">
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


<script>
    var mostliked = JSON.parse('{{mostliked | tojson | safe}}');
    var mostviewed = JSON.parse('{{mostviewed | tojson | safe}}');
    console.log(mostviewed)
    $(document).ready(function(){
        for (i=0; i<8; i++){
            document.getElementById("mostliked"+(i+1)).src="/static/fashion-photos/instagramscraper/" +mostliked[i][1]+"/"+mostliked[i][0];
            document.getElementById("olshop"+(i+1)).innerHTML=mostliked[i][1]
            document.getElementById("jml"+(i+1)).innerHTML=mostliked[i][3]
            document.getElementById("mostviewed"+(i+1)).src="/static/fashion-photos/instagramscraper/" +mostviewed[i][1]+"/"+mostviewed[i][0];
            document.getElementById("mostviewedolshop"+(i+1)).innerHTML=mostviewed[i][1]
            document.getElementById("mostviewedjml"+(i+1)).innerHTML=mostviewed[i][3]
        }
    });
</script>
{% endblock %}