{% extends "base.html" %}

{% block content %}

<div class="ui one column stackable center aligned page grid">
    <div class="twelve wide column">
        <div class="row" style="    margin: 5%;">
            <img class="ui centered small circular image" src="{{ url_for('static', filename='images/logo.png' ) }}">
        </div>
        <div class="row">
            <form class="ui form" method="POST">
                <div class="inline field">
                    <label>Username</label>
                    <input name = "username" placeholder="Username" type="text">
                </div>
                <div class="inline field">
                    <label>Password</label>
                    <input name = "password" placeholder="Password" type="password">
                </div>
                <span id="login_failed"></span><br>
                <br><a href="{{url_for('sign_up')}}">Create Account</a>  
                <button class="ui submit button" type="submit" >Login</button>
            </form>
        </div>
    </div>
</div>
<script>
    var loginstate = '{{loginstate}}';
    if(loginstate == 'failed'){
        document.getElementById("login_failed").innerHTML="Incorrect username or password. Try Again";
    }
</script>
{% endblock %}