{% extends "base.html" %}

{% block content %}
<h1>Downloaded Media : {{dir_name}}</h1>
<h2><a href={{url_for('slideshow', dir_name = dir_name)}}>Start Slideshow</a></h2>



<div class="ui seven column grid">
        {% for image in images %}
            <div class="column">
                <div class="ui card">
                    <div class="">
                        <img width="auto" align="center" height="150px" src="{{ url_for('static', filename='fashion-photos/instagramscraper/'+dir_name+'/' + image) }}">
                    </div>
                    <div class="content">
                        <a class="header" href="{{ url_for('static', filename='fashion-photos/instagramscraper/'+dir_name+'/' + image) }}"></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
<style>
    .ui.small.image {
        /*Image should be a div*/
        height: 200px;
        width:auto;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        }
</style>
{% endblock %}
