{% extends "base.html" %}

{% block content %}
<div class="ui grid">
    <div  class="three wide column" style="position: fixed;
    top: 8%;
    height: 100%;">
        <div style="height: 100%;" class="ui inverted vertical pointing menu">
                <img class="ui small circular image" src="{{ url_for('static', filename='images/icon/ava.png') }}">
                <div class="item">
                    <h2>Welcome, {{username}}</h2>
                </div>
            <a class="item" id="expresult">
                Experiment Result
            </a>
        </div>
    </div>

    <div class="twelve wide column" style="    position: absolute;
    top: 5%;
    left: 18%;" >
        <div id="latestdetection">
                <h2>Latest Detection</h2>
                <canvas id="canvas"></canvas>
                <div class="ui five column grid"    style="margin-top: 10px;">
                        <h2 style="text-align: center;">Liked Products</h2>
                    {% for i in range(0, lateslike_len) %}
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="">
                                    <img width="auto" align="center" height="180px" id="image{{i}}">
                                </div>
                                <div class="content">
                                    <span class="right floated" id="idgambar{{i}}">
                                    </span>
                                    <span class="header" id="name{{i}}">
                                    </span>
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
       <div id="result" style="margin-top:6%">
            <table class="ui single line table" id="resulttable">
                <thead>
                    <tr>
                    <th>No</th>
                    <th>Experiment Date</th>
                    <th>Olshop Name</th>
                    <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
            <div id="images"></div>
       </div>
       <div id="likedproducts">

            <div class="ui five column grid"    style="margin-top: 20px;">
                <h2 style="text-align: center;">Liked Products</h2>
                <div id="column">
                    <div class="ui fluid card">
                        <div id="images" width="auto" align="center" height="180px">
                        </div>
                        <div class="content">
                            <span class="right floated" id="idgambar{{i}}">
                            </span>
                            <span class="header" id="name{{i}}">
                            </span>
                            
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
            <div class="ui modal">
                    <i class="close icon"></i>
                    <div class="header">
                      Experiment Detail
                    </div>
                    <div class="image content">
                      
                      <div class="description">
                            <canvas id="canvas2" style="width:75%;"></canvas>
                            <p id="caption">The chart is displaying a simple line chart.</p>
                      </div>
                    </div>
                    <div class="ui three column grid">
                            {% for i in range  (1,4)%}
                                <div class="column">
                                    <div class="ui fluid card">
                                        <div class="" >
                                            <img id="like{{i}}" align="middle"  height="200px">
                                        </div>
                                        <div class="content">
                                            <a class="header" id="likename{{i}}"></a>
                                            <div class="meta">
                                                </div>
                                        </div>
                                        <div class="extra content">
                                            <i class="eye icon"></i>
                                            <span >
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    <div class="actions">
                      <div class="ui positive right labeled icon button">
                        OK
                        <i class="checkmark icon"></i>
                      </div>
                    </div>
                  </div>
    </div>
</div>

<script>
    var expresult = JSON.parse('{{expresult | tojson | safe}}');
    var latestlike=JSON.parse('{{lateslike | tojson| safe}}');
    console.log(latestlike);
    console.log(expresult.length);
    document.getElementById("result").style.display="none";
    $(document).ready(function(){
        id="photobyuser"
        var url = 'photobyuser/ajax/';
        getData(id, url, 'canvas');
        for (i=0; i<latestlike.length; i++){
            document.getElementById("image"+(i)).src="/static/fashion-photos/instagramscraper/" +latestlike[i][2]+"/"+latestlike[i][1];
            document.getElementById("name"+(i)).innerHTML=latestlike[i][2]
            document.getElementById("idgambar"+(i)).innerHTML=latestlike[i][0]
        }
        $('#result').hide();
        $('#likedphotos').hide();
        $('#likedproducts').hide();
        var url='/likedproducts/ajax'
        $.ajax({
            url: url ,
            type:"GET",
            dataType:"json",
            data: {
                id:id
            },
            error:function(data){
                console.log('No data found');
            },
            success:function(data){
                
            }
        })
    });
    for(i=0; i<expresult.length; i++){
        console.log('disini');
        var table = document.getElementById("resulttable");
        var row = table.insertRow(i+1);
        var cell1= row.insertCell(0);
        var cell2= row.insertCell(1);
        var cell3= row.insertCell(2);
        var cell4= row.insertCell(3);
        cell1.innerHTML = i+1;
        cell2.innerHTML = expresult[i][1];
        console.log(expresult[i][1]);
        cell3.innerHTML = expresult[i][2];
        cell4.innerHTML = '<div class="ui edit button" onclick="resultClick('+ expresult[i][0] +','+ i+')">View</div><div class="ui edit button" onclick="closeClick('+ expresult[i][0] +','+ i+')">Close</div>';
    }
    function resultClick(id_detect, index){
        var url='/likedproducts/ajax/'
        console.log(url)
        $.ajax({
            url: url ,
            type:"GET",
            dataType:"json",
            data: {
                id:id_detect
            },
            error:function(data){
                console.log('No data found');
            },
            success:function(data){
                console.log(data)
                var table=document.getElementById("resulttable");
                var row=table.insertRow(index+2)
                if(data.length>3){
                    var row2=table.insertRow(index+3)
                }
                for (var i=0; i<data.length; i++){
                    if(i<=3){
                        var cell1=row.insertCell(0);
                        cell1.innerHTML='<img id="img" style="height:200px; width:auto;">';
                        document.getElementById("img").src="/static/fashion-photos/instagramscraper/" +data[i][1]+"/"+data[i][0];
                    }else{
                        var cell2=row2.insertCell(0);
                        cell2.innerHTML='<img id="imge" style="height:200px; width:auto;">';
                        document.getElementById("imge").src="/static/fashion-photos/instagramscraper/" +data[i][1]+"/"+data[i][0];
                    }
                }
            }
        })
        
    }

    function closeClick(id_detect, index){
        document.getElementById("resulttable").deleteRow(index+2);
        
    }
    function expressClick(id_detect){
        $('.ui.modal')
        .modal('show');
        var url='profile/ajax/'
        getData(id_detect, url, 'canvas2');
        
    }
    $('#expresult').click(() => {
        var div = document.getElementById("result");
        document.getElementById("latestdetection").style.display="none";
        if (div.style.display !== "none"){
            div.style.display = "none";
        }else{
            div.style.display = "block";
        }
    });

    $('#product').click(() => {
        var div = document.getElementById("likedproducts");
        document.getElementById("latestdetection").style.display="none";
        document.getElementById("result").style.display="none";
        if (div.style.display !== "none"){
            div.style.display = "none";
        }else{
            div.style.display = "block";
        }
    });

    function getData(id, url, canvas){
        labelStringy="Ekspresi";
        console.log(url)
        $.ajax({
            url: url ,
            type:"GET",
            dataType:"json",
            data: {
                id:id
            },
            error:function(data){
                console.log('No data found');
            },
            success:function(data){
                displaygraph(data, "id_gambar", "labelStringy", canvas);
            }
        })
    }

    function displaygraph(data, labelStringx, labelStringy, canvas){
        console.log(data)
        var xlabel=[]
        var dataset=[]
        for(var i=0; i<data.length; i++){ 
            xlabel[i]=[]
            dataset[i]=[]
            for(var j=0; j<data[i].length; j++){
                xlabel[i].push(data[i][j][0]);
                dataset[i].push(data[i][j][1]);
            }
        }
        if(data.length==4){
            for (var i=0; i<3; i++){
                document.getElementById("like"+(i+1)).src="/static/fashion-photos/instagramscraper/" +dataset[3][i]+"/"+xlabel[3][i];
                document.getElementById("likename"+(i+1)).innerHTML=dataset[3][i]
            }
        }
        window.myLine = new Chart(document.getElementById(canvas).getContext('2d'), getconfigcategory(dataset[0],dataset[1], dataset[2], xlabel[1], labelStringx, labelStringy));        
    }

    function getconfigcategory(data1, data2, data3, xlabels, labelStringx, labelStringy){

        var config = {
            type: 'line',
            data: {
                yLabels: ['', 'suka', 'tidak suka', ''],
                datasets: [{
                    label:'Experiment 1',
                    fill: false,
                    borderColor: 'rgb(255,0,0)',
                    backgroundColor: 'rgba(233, 30, 99, 0.3)',
                    pointBorderColor: 'rgba(233, 30, 99, 0)',
                    pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                    pointBorderWidth: 1,
                    pointRadius:10,
                    pointHoverRadius:15,
                    showLine:true,
                    data: data1
                },{
                    label:'Experiment 2',
                    fill: false,
                    borderColor: 'rgb(0,255,0)',
                    backgroundColor: 'rgba(233, 30, 99, 0.3)',
                    pointBorderColor: 'rgba(233, 30, 99, 0)',
                    pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                    pointBorderWidth: 1,
                    pointRadius:10,
                    pointHoverRadius:15,
                    showLine:true,
                    data: data2
                },{
                    label:'Experiment 3',
                    data: data3,
                    fill: false,
                    borderColor: 'rgb(0,0,255)',
                    backgroundColor: 'rgba(233, 30, 99, 0.3)',
                    pointBorderColor: 'rgba(233, 30, 99, 0)',
                    pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                    pointBorderWidth: 1,
                    pointRadius:10,
                    pointHoverRadius:15,
                    showLine:true
                }],
                labels: xlabels
            },
            options: {
                responsive: true,
                title: {
                    display: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: labelStringx
                        }
                    }],
                    yAxes: [{
                        type: 'category',
                        position: 'left',
                        display: true,
                        scaleLabel: {
                        display: true
                        },
                        ticks: {
                        reverse: true
                        }
                    }]
                }
            }
        }
        return config
    }

    
</script>
{% endblock %}