{% extends "base.html" %}

{% block content %}
    
<h2>Search instagram account</h2>
    <form class="ui form" method="POST">
        <div class="inline field">
            <label>Your Instagram Username</label>
            <input type="text" name="user_username" placeholder="Username">
        </div>
        <div class="inline field">
            <label>Your Instagram Password</label>
            <input type="password" name="user_password" placeholder="Password">
            </div>
        <div class="inline field">
            <label>Olshop Instagram Username</label>
            <input type="text" name="olshop_username" placeholder="Username">
        </div>
        <div class="inline field">
            <label>Photos to Scrape</label>
            <input type="number" name="jml_foto" placeholder="Ex: 4">
        </div>
        <button class="ui button" type="submit">Scrape</button>
    </form>
{% endblock %}