{% extends "base.html" %}

{% block content %}

<div class="ui one column stackable center aligned page grid">
    <div class="twelve wide column">
        <div class="row" style="    margin: 5%;">
            <img class="ui centered small circular image" src="{{ url_for('static', filename='images/logo.png' ) }}">
        </div>
        <div class="row">
            <form class="ui form" method="POST">
                <div class="inline field">
                    <label>Username</label>
                    <input name = "username" placeholder="Username" type="text">
                </div>
                <div class="inline field">
                    <label>Password</label>
                    <input name = "password" placeholder="Password" type="password">
                </div> 
                <span id="signup_failed"></span><br>
                <button class="ui submit button" type="submit" >Create Account</button>
            </form>
        </div>
    </div>
</div>
<script>
    var state = '{{state}}';
    if(state == 'failed'){
        document.getElementById("signup_failed").innerHTML="Username is already taken. Try Again";
    }
</script>
{% endblock %}