{% extends "base.html" %}

{% block content %}

    <h2 class="w3-center">Automatic Slideshow for : {{dir_name}}</h2>   
    <button class="controls" id="start">Start</button>

    <div class="ui grid">
        <div class="three wide column">
        </div>
        <div class="eight wide column" id="slideshow">
            <div class="slideshow wrapper">
                {% for image in images %}    
                    <img class="mySlides" id='{{image}}' src="{{ url_for('static', filename='fashion-photos/instagramscraper/'+dir_name+'/' + image) }}" style = "width:400px; height:400px">
                {% endfor %}
            </div>
        </div>

        <div class="three wide column" id="camera">
                <img id="bg" src="{{ url_for('video_feed') }}" style="width : 200px; height:200px">
                
            </div>
    <form id="submit" action="/hasil" method="post">
        <input type="hidden" name="data" id="datajson">
    </form>
    </div>
    
    
    <script>
            var socket = io.connect('http://localhost:3001/adminSocket');
            var idgambar=null;
            var experiment=0;
            var hasilekspresi = new Array()
            var hasil;
            var startTime, currentTime, time;
            $(document).ready(function(){
                $('#slideshow').hide();
                $('#camera').hide();
            });
            var count=1
            socket.on('data', function(data) {
                currentTime = Date.now()
                time = msToSecond(currentTime - startTime)
                var json = JSON.parse(data)
                var cok = '{{ dir_name }}'
                hasil = {"idgambar":idgambar, "waktu":time, "ekspresi":json[1], "olshop_name": cok, "experiment":experiment}
                if(idgambar!=null){
                    hasilekspresi.push(hasil);
                    console.log(hasilekspresi)
                }
            });
            $('#start').click(() => {
                $('#start').hide();
                $('#slideshow').show();
                $('#camera').show();
                startTime = Date.now();
                console.log(startTime)
                carousel();
            })
            function msToSecond(s){
                var ms = s % 1000;
                s = (s - ms) / 1000;
                var secs = s % 60;
                s = (s - secs) / 60;
                var mins = s % 60;
                var hrs = (s - mins) / 60;
                return secs +'.'+ ms;
            }
            var slideindex= 0
            var count=1
            function carousel() {
                var i;
                var slide = document.getElementsByClassName("mySlides");
                for (i = 0; i < slide.length; i++) {
                   slide[i].style.display = "none";  
                }
                slideindex++;
                if (slideindex <= slide.length && count<=3) {
                    console.log(slideindex <= slide.length && count<=3)
                    console.log(slideindex)
                    console.log(count)
                    slide[slideindex - 1].style.display = "block";
                    setTimeout(carousel, 2000);screenTop
                    idgambar = document.getElementsByClassName("mySlides")[slideindex - 1].getAttribute("id")
                    experiment=count
                    console.log(experiment)
                    if(slideindex==slide.length){
                        count++;
                        slideindex=0;
                    }
                }else{
                    document.getElementById('bg').hidden=true;
                    document.getElementById('bg').src="";
                    var data_json = JSON.stringify(hasilekspresi);
                    document.getElementById('datajson').value = data_json;
                    swal({
                        title: "Selesai",
                        text: "Deteksi ekspresi wajah selesai dilakukan",
                        icon: "success",
                        button: "Next",
                    })
                        .then((value) => {
                            $(document).ready(function(){
                                $('#submit').submit();
                            });
                           
                        });
                }
        
            }
        </script>
{% endblock %}